<div ng-show="page=='tour'">
    <div class="jumbotron-bg" style="background: url({{ tour.image }}) no-repeat center center;"></div>
    <div class="jumbotron" ng-hide="loading">
      <div class="container">
        <h1>{{ tour.nombre }}</h1>
        <p ng-if="tour.activo==1">Select the number of peoples to see the price.</p>
        <div ng-show="tour.activo==1" class="col-sm-4 col-sm-offset-4" id="selectp">

            <select class="form-control input-lg" ng-model="cantidad">
              <option value="-1">-- Choose --</option>
              <option value="2">2 peoples</option>
              <option value="3">3 peoples</option>
              <option value="4">4 peoples</option>
              <option value="5">5 peoples</option>
              <option value="6">6 peoples</option>
              <option value="7">7 peoples</option>
              <option value="8">8 peoples</option>
              <option value="9">9 peoples</option>
              <option value="10">10 peoples</option>
              <option value="11">11 peoples</option>
              <option value="12">12 peoples</option>
              <option value="13">13 peoples</option>
              <option value="14">14 peoples</option>
              <option value="15">15 peoples</option>
            </select>
        </div>
      </div>
    </div>

    <div class="row" ng-if="tour.activo==0">
        <div class="col-sm-12">
            <button type="button" class="alizarin-flat-button"><i class="fa fa-info"></i> This tour is not available at this time.</button>
        </div>
    </div>

    <div class="row text-center" ng-if="cantidad>1">
        <div class="col-sm-12">
            <h1 class="page-header">Total for {{ cantidad }} peoples: {{ getPrice() | currency:'$ ' }}</h1>
            <h2>Price per person: {{ tour.individual[cantidad] | currency:'$ ' }} </h2>
            <hr>
        </div>

        <div class="col-md-6" ng-show="tour.es">
          <button type="button" class="peter-river-flat-button" ng-click="view('es')"><i class="fa fa-info"></i> Itinerario (Español)</button>
        </div>
        <div class="col-md-6" ng-show="tour.en">
          <button type="button" class="peter-river-flat-button" ng-click="view('en')"><i class="fa fa-info"></i> Itinerary (English) </button>
        </div>

        <div class="col-md-6 col-md-offset-3" ng-show="!tour.es && !tour.en">
          <button type="button" class="emerald-flat-button" ng-click="contact()"><i class="fa fa-envelope"></i> Contact</button>
        </div>


    </div>
    <!-- /.row -->
</div>


<div ng-show="page=='guide'">
    <!-- ES -->
    <div class="row" style="margin-top: 10px;" ng-show="lang=='es'">
        <div class="col-md-3 text-left">
          <button type="button" class="orange-flat-button" ng-click="back()"><i class="fa fa-arrow-left"></i> Volver</button>
        </div>
        <div class="col-md-6 text-center">
          <h3 class="page-header" style="margin-bottom: 0;">Total para {{ cantidad }} personas: {{ getPrice() | currency:'$ ' }}</h3>
        </div>
        <div class="col-md-3 text-right">
          <button type="button" class="emerald-flat-button" ng-click="contact()"><i class="fa fa-envelope"></i> Contactar</button>
        </div>
    </div>
    <!-- EN -->
    <div class="row" style="margin-top: 10px;" ng-show="lang=='en'">
        <div class="col-md-3 text-left">
          <button type="button" class="orange-flat-button" ng-click="back()"><i class="fa fa-arrow-left"></i> Back</button>
        </div>
        <div class="col-md-6 text-center">
          <h3 class="page-header" style="margin-bottom: 0;">Total for {{ cantidad }} people: {{ getPrice() | currency:'$ ' }}</h3>
        </div>
        <div class="col-md-3 text-right">
          <button type="button" class="emerald-flat-button" ng-click="contact()"><i class="fa fa-envelope"></i> Contact</button>
        </div>
    </div>
    <!-- /.row -->

    <div class="row" ng-if="showMessage">
      <div class="col-md-12" style="margin-top: 20px; ">
        <button type="button" class="turquoise-flat-button">Thanks, your info has been submitted...</button>
      </div>
    </div>

    <div class="row" ng-hide="showContact">
        <div class="col-md-12">
          <div id="guidetour-bg" class="text-center">
            <p ng-show="lang=='es'">Cargando...</p>
            <p ng-show="lang=='en'">Loading...</p>
          </div>
          <iframe ng-show="lang=='en'" id="guidetour" ng-src="{{trustSrc(tour.en)}}"></iframe>
          <iframe ng-show="lang=='es'" id="guidetour" ng-src="{{trustSrc(tour.es)}}"></iframe>
        </div>
    </div>
    <!-- /.row -->

</div>


<div class="row" ng-show="showContact">
  <div class="col-md-6 col-md-offset-3">
      <h3>Contact Form:</h3>
      <hr>
      <form name="contactForm" role="form" ng-submit="postContact()">
        <div class="form-group">
            <label>Your name:</label>
            <input class="form-control" type="text" ng-model="cotizacion.name" required="required">
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" placeholder="me@example.com" type="email" ng-model="cotizacion.email" required="required">
        </div>

        <div class="form-group">
            <label>Message:</label>
            <textarea class="form-control" rows="3" ng-model="cotizacion.message"></textarea>
        </div>

        <div class="form-group">
          <label>Total for {{ cantidad }} people: {{ getPrice() | currency:'$ ' }}</label>
        </div>

        <button type="submit" class="emerald-flat-button">Submit</button>
    </form>
  </div>
</div>
<!-- /.row -->