<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Escritorio</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Bautizos
            </div>
            <div class="panel-body">
                <h2 class="text-center">{{ data.bautizos }}</h2>
            </div>
            <div class="panel-footer text-right">
                <a ui-sref="dashboard.bautizos" class="ba"> Ver Mas <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Comuniones
            </div>
            <div class="panel-body">
                <h2 class="text-center">{{ data.comuniones }}</h2>
            </div>
            <div class="panel-footer text-right">
                <a ui-sref="dashboard.comuniones" class="ba"> Ver Mas <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>


    <div class="col-lg-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                Confirmaciones
            </div>
            <div class="panel-body">
                <h2 class="text-center">{{ data.confirmaciones }}</h2>
            </div>
            <div class="panel-footer text-right">
                <a ui-sref="dashboard.confirmaciones" class="ba"> Ver Mas <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>

</div>
<!-- /.row -->
<div class="row">


    <div class="col-lg-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                Matrimonios
            </div>
            <div class="panel-body">
                <h2 class="text-center">{{ data.matrimonios }}</h2>
            </div>
            <div class="panel-footer text-right">
                <a ui-sref="dashboard.matrimonios" class="ba"> Ver Mas <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Defunciones
            </div>
            <div class="panel-body">
                <h2 class="text-center">{{ data.defunciones }}</h2>
            </div>
            <div class="panel-footer text-right">
                <a ui-sref="dashboard.defunciones" class="ba"> Ver Mas <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

</div>
<!-- /.row -->
